html, body{
  overflow: hidden;
  background-image: url('egeh.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(8, 8, 29);
}
canvas {
  display: block;
}

img[src$="rwr.gif"] { 
  padding: 100px;
}